---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/hrs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1421612880'
      Last-Modified:
      - Sun, 18 Jan 2015 01:36:30 GMT
      Etag:
      - W/"bf74b7c76ed5e48c6c0b677038d668e3"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"hrs","id":278853,"avatar_url":"https://avatars.githubusercontent.com/u/278853?v=3","gravatar_id":"","url":"https://api.github.com/users/hrs","html_url":"https://github.com/hrs","followers_url":"https://api.github.com/users/hrs/followers","following_url":"https://api.github.com/users/hrs/following{/other_user}","gists_url":"https://api.github.com/users/hrs/gists{/gist_id}","starred_url":"https://api.github.com/users/hrs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hrs/subscriptions","organizations_url":"https://api.github.com/users/hrs/orgs","repos_url":"https://api.github.com/users/hrs/repos","events_url":"https://api.github.com/users/hrs/events{/privacy}","received_events_url":"https://api.github.com/users/hrs/received_events","type":"User","site_admin":false,"name":"Harry
        R. Schwartz","company":"thoughtbot","blog":"harryrschwartz.com","location":"Brooklyn,
        NY","email":"hello@harryrschwartz.com","hireable":false,"bio":null,"public_repos":28,"public_gists":13,"followers":39,"following":6,"created_at":"2010-05-17T03:38:30Z","updated_at":"2015-01-18T01:36:30Z"}'
  recorded_at: Sun, 18 Jan 2015 19:28:00 GMT
recorded_with: VCR 2.9.3
