---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/freewizard
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1421721800'
      Last-Modified:
      - Sat, 17 Jan 2015 10:21:48 GMT
      Etag:
      - W/"0ecc3c5a0925d5ca16656be6f4f86a45"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"freewizard","id":7655,"avatar_url":"https://avatars.githubusercontent.com/u/7655?v=3","gravatar_id":"","url":"https://api.github.com/users/freewizard","html_url":"https://github.com/freewizard","followers_url":"https://api.github.com/users/freewizard/followers","following_url":"https://api.github.com/users/freewizard/following{/other_user}","gists_url":"https://api.github.com/users/freewizard/gists{/gist_id}","starred_url":"https://api.github.com/users/freewizard/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/freewizard/subscriptions","organizations_url":"https://api.github.com/users/freewizard/orgs","repos_url":"https://api.github.com/users/freewizard/repos","events_url":"https://api.github.com/users/freewizard/events{/privacy}","received_events_url":"https://api.github.com/users/freewizard/received_events","type":"User","site_admin":false,"name":"Du
        Song","company":"FreeWheel Inc.","blog":"http://rollingcode.org/","location":"Beijing,
        P. R. China","email":"freewizard@gmail.com","hireable":false,"bio":null,"public_repos":32,"public_gists":13,"followers":62,"following":78,"created_at":"2008-04-17T02:30:08Z","updated_at":"2015-01-17T10:21:48Z"}'
  recorded_at: Tue, 20 Jan 2015 02:35:52 GMT
recorded_with: VCR 2.9.3
