---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/katherinlaine
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1421717198'
      Last-Modified:
      - Fri, 16 Jan 2015 22:43:38 GMT
      Etag:
      - W/"589a87a1027e313c64d456b35265251b"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"katherinlaine","id":6817804,"avatar_url":"https://avatars.githubusercontent.com/u/6817804?v=3","gravatar_id":"","url":"https://api.github.com/users/katherinlaine","html_url":"https://github.com/katherinlaine","followers_url":"https://api.github.com/users/katherinlaine/followers","following_url":"https://api.github.com/users/katherinlaine/following{/other_user}","gists_url":"https://api.github.com/users/katherinlaine/gists{/gist_id}","starred_url":"https://api.github.com/users/katherinlaine/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/katherinlaine/subscriptions","organizations_url":"https://api.github.com/users/katherinlaine/orgs","repos_url":"https://api.github.com/users/katherinlaine/repos","events_url":"https://api.github.com/users/katherinlaine/events{/privacy}","received_events_url":"https://api.github.com/users/katherinlaine/received_events","type":"User","site_admin":false,"name":"Katherin
        Siracusa","company":"","blog":"","location":"Brooklyn","email":"katherin.siracusa@gmail.com","hireable":true,"bio":null,"public_repos":13,"public_gists":1,"followers":4,"following":8,"created_at":"2014-02-28T16:27:01Z","updated_at":"2015-01-16T22:43:38Z"}'
  recorded_at: Tue, 20 Jan 2015 01:19:22 GMT
recorded_with: VCR 2.9.3
