---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/hrs/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1421612880'
      Etag:
      - W/"cf9012215420ce4930f906eef9f43311"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"id":6067699,"name":"bingo","full_name":"hrs/bingo","owner":{"login":"hrs","id":278853,"avatar_url":"https://avatars.githubusercontent.com/u/278853?v=3","gravatar_id":"","url":"https://api.github.com/users/hrs","html_url":"https://github.com/hrs","followers_url":"https://api.github.com/users/hrs/followers","following_url":"https://api.github.com/users/hrs/following{/other_user}","gists_url":"https://api.github.com/users/hrs/gists{/gist_id}","starred_url":"https://api.github.com/users/hrs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hrs/subscriptions","organizations_url":"https://api.github.com/users/hrs/orgs","repos_url":"https://api.github.com/users/hrs/repos","events_url":"https://api.github.com/users/hrs/events{/privacy}","received_events_url":"https://api.github.com/users/hrs/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/hrs/bingo","description":"A
        super-simple bingo card generator.","fork":false,"url":"https://api.github.com/repos/hrs/bingo","forks_url":"https://api.github.com/repos/hrs/bingo/forks","keys_url":"https://api.github.com/repos/hrs/bingo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/hrs/bingo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/hrs/bingo/teams","hooks_url":"https://api.github.com/repos/hrs/bingo/hooks","issue_events_url":"https://api.github.com/repos/hrs/bingo/issues/events{/number}","events_url":"https://api.github.com/repos/hrs/bingo/events","assignees_url":"https://api.github.com/repos/hrs/bingo/assignees{/user}","branches_url":"https://api.github.com/repos/hrs/bingo/branches{/branch}","tags_url":"https://api.github.com/repos/hrs/bingo/tags","blobs_url":"https://api.github.com/repos/hrs/bingo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/hrs/bingo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/hrs/bingo/git/refs{/sha}","trees_url":"https://api.github.com/repos/hrs/bingo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/hrs/bingo/statuses/{sha}","languages_url":"https://api.github.com/repos/hrs/bingo/languages","stargazers_url":"https://api.github.com/repos/hrs/bingo/stargazers","contributors_url":"https://api.github.com/repos/hrs/bingo/contributors","subscribers_url":"https://api.github.com/repos/hrs/bingo/subscribers","subscription_url":"https://api.github.com/repos/hrs/bingo/subscription","commits_url":"https://api.github.com/repos/hrs/bingo/commits{/sha}","git_commits_url":"https://api.github.com/repos/hrs/bingo/git/commits{/sha}","comments_url":"https://api.github.com/repos/hrs/bingo/comments{/number}","issue_comment_url":"https://api.github.com/repos/hrs/bingo/issues/comments/{number}","contents_url":"https://api.github.com/repos/hrs/bingo/contents/{+path}","compare_url":"https://api.github.com/repos/hrs/bingo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/hrs/bingo/merges","archive_url":"https://api.github.com/repos/hrs/bingo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/hrs/bingo/downloads","issues_url":"https://api.github.com/repos/hrs/bingo/issues{/number}","pulls_url":"https://api.github.com/repos/hrs/bingo/pulls{/number}","milestones_url":"https://api.github.com/repos/hrs/bingo/milestones{/number}","notifications_url":"https://api.github.com/repos/hrs/bingo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/hrs/bingo/labels{/name}","releases_url":"https://api.github.com/repos/hrs/bingo/releases{/id}","created_at":"2012-10-03T22:12:40Z","updated_at":"2013-12-07T00:07:56Z","pushed_at":"2013-12-07T00:07:52Z","git_url":"git://github.com/hrs/bingo.git","ssh_url":"git@github.com:hrs/bingo.git","clone_url":"https://github.com/hrs/bingo.git","svn_url":"https://github.com/hrs/bingo","homepage":null,"size":102,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":0,"forks":1,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":22266581,"name":"dada-memoir-texter","full_name":"hrs/dada-memoir-texter","owner":{"login":"hrs","id":278853,"avatar_url":"https://avatars.githubusercontent.com/u/278853?v=3","gravatar_id":"","url":"https://api.github.com/users/hrs","html_url":"https://github.com/hrs","followers_url":"https://api.github.com/users/hrs/followers","following_url":"https://api.github.com/users/hrs/following{/other_user}","gists_url":"https://api.github.com/users/hrs/gists{/gist_id}","starred_url":"ht[...]
