---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/katherinlaine/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1421717198'
      Etag:
      - W/"695f18ed7281ff2415df8003c1152338"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"id":28653753,"name":"a_s","full_name":"katherinlaine/a_s","owner":{"login":"katherinlaine","id":6817804,"avatar_url":"https://avatars.githubusercontent.com/u/6817804?v=3","gravatar_id":"","url":"https://api.github.com/users/katherinlaine","html_url":"https://github.com/katherinlaine","followers_url":"https://api.github.com/users/katherinlaine/followers","following_url":"https://api.github.com/users/katherinlaine/following{/other_user}","gists_url":"https://api.github.com/users/katherinlaine/gists{/gist_id}","starred_url":"https://api.github.com/users/katherinlaine/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/katherinlaine/subscriptions","organizations_url":"https://api.github.com/users/katherinlaine/orgs","repos_url":"https://api.github.com/users/katherinlaine/repos","events_url":"https://api.github.com/users/katherinlaine/events{/privacy}","received_events_url":"https://api.github.com/users/katherinlaine/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/katherinlaine/a_s","description":"","fork":false,"url":"https://api.github.com/repos/katherinlaine/a_s","forks_url":"https://api.github.com/repos/katherinlaine/a_s/forks","keys_url":"https://api.github.com/repos/katherinlaine/a_s/keys{/key_id}","collaborators_url":"https://api.github.com/repos/katherinlaine/a_s/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/katherinlaine/a_s/teams","hooks_url":"https://api.github.com/repos/katherinlaine/a_s/hooks","issue_events_url":"https://api.github.com/repos/katherinlaine/a_s/issues/events{/number}","events_url":"https://api.github.com/repos/katherinlaine/a_s/events","assignees_url":"https://api.github.com/repos/katherinlaine/a_s/assignees{/user}","branches_url":"https://api.github.com/repos/katherinlaine/a_s/branches{/branch}","tags_url":"https://api.github.com/repos/katherinlaine/a_s/tags","blobs_url":"https://api.github.com/repos/katherinlaine/a_s/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/katherinlaine/a_s/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/katherinlaine/a_s/git/refs{/sha}","trees_url":"https://api.github.com/repos/katherinlaine/a_s/git/trees{/sha}","statuses_url":"https://api.github.com/repos/katherinlaine/a_s/statuses/{sha}","languages_url":"https://api.github.com/repos/katherinlaine/a_s/languages","stargazers_url":"https://api.github.com/repos/katherinlaine/a_s/stargazers","contributors_url":"https://api.github.com/repos/katherinlaine/a_s/contributors","subscribers_url":"https://api.github.com/repos/katherinlaine/a_s/subscribers","subscription_url":"https://api.github.com/repos/katherinlaine/a_s/subscription","commits_url":"https://api.github.com/repos/katherinlaine/a_s/commits{/sha}","git_commits_url":"https://api.github.com/repos/katherinlaine/a_s/git/commits{/sha}","comments_url":"https://api.github.com/repos/katherinlaine/a_s/comments{/number}","issue_comment_url":"https://api.github.com/repos/katherinlaine/a_s/issues/comments/{number}","contents_url":"https://api.github.com/repos/katherinlaine/a_s/contents/{+path}","compare_url":"https://api.github.com/repos/katherinlaine/a_s/compare/{base}...{head}","merges_url":"https://api.github.com/repos/katherinlaine/a_s/merges","archive_url":"https://api.github.com/repos/katherinlaine/a_s/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/katherinlaine/a_s/downloads","issues_url":"https://api.github.com/repos/katherinlaine/a_s/issues{/number}","pulls_url":"https://api.github.com/repos/katherinlaine/a_s/pulls{/number}","milestones_url":"https://api.github.com/repos/katherinlaine/a_s/milestones{/number}","notifications_url":"https://api.github.com/repos/katherinlaine/a_s/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/katherinlaine/a_s/labels{/name}","releases_url":"https://api.github.com/repos/katherinlaine/a_s/releases{/id}","created_at":"2014-12-31T02:54:54Z","updated_at":"2014-12-31T17:02:11Z","pushed_at":"2014-12-31T17:02:10Z","git_url":"git://github.com/katherinlaine/a_s.git","ssh_url":"git@github.com:katherinlaine/a_s.git","clone_url":"https://github.com/katherinlaine/a_s.git","svn_url":"https://github.com/katherinlaine/a_s","homepage":null,"size":120,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":26340137,"name":"ch_plan","full_name":"katherinlaine/ch_plan","owner":{"login":"katherinlaine","id":6817804,"avatar_url":"https://avatars.githubusercontent.com/u/6817804?v=3","gravatar_id":"","url":"https://api.github.com/users/katherinlaine","html_url":"https://github.com/katherinlaine","followers_url":"https://api.github.com/users/katherinlaine/followers","following_url":"https://api.github.com/users/katherinlaine/following{/other_user}","gists_url":"https://api.github.com/user[...]
