---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/chriscpo/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1421612880'
      Etag:
      - W/"ac7ef36a58effaed81beba0f7a6fea41"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"id":23671206,"name":"ChrisCPO.github.io","full_name":"ChrisCPO/ChrisCPO.github.io","owner":{"login":"ChrisCPO","id":7773951,"avatar_url":"https://avatars.githubusercontent.com/u/7773951?v=3","gravatar_id":"","url":"https://api.github.com/users/ChrisCPO","html_url":"https://github.com/ChrisCPO","followers_url":"https://api.github.com/users/ChrisCPO/followers","following_url":"https://api.github.com/users/ChrisCPO/following{/other_user}","gists_url":"https://api.github.com/users/ChrisCPO/gists{/gist_id}","starred_url":"https://api.github.com/users/ChrisCPO/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ChrisCPO/subscriptions","organizations_url":"https://api.github.com/users/ChrisCPO/orgs","repos_url":"https://api.github.com/users/ChrisCPO/repos","events_url":"https://api.github.com/users/ChrisCPO/events{/privacy}","received_events_url":"https://api.github.com/users/ChrisCPO/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/ChrisCPO/ChrisCPO.github.io","description":"","fork":false,"url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io","forks_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/forks","keys_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/teams","hooks_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/hooks","issue_events_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/issues/events{/number}","events_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/events","assignees_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/assignees{/user}","branches_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/branches{/branch}","tags_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/tags","blobs_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/git/refs{/sha}","trees_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/statuses/{sha}","languages_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/languages","stargazers_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/stargazers","contributors_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/contributors","subscribers_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/subscribers","subscription_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/subscription","commits_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/commits{/sha}","git_commits_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/git/commits{/sha}","comments_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/comments{/number}","issue_comment_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/issues/comments/{number}","contents_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/contents/{+path}","compare_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/merges","archive_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/downloads","issues_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/issues{/number}","pulls_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/pulls{/number}","milestones_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/milestones{/number}","notifications_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/labels{/name}","releases_url":"https://api.github.com/repos/ChrisCPO/ChrisCPO.github.io/releases{/id}","created_at":"2014-09-04T16:57:06Z","updated_at":"2014-12-13T23:36:45Z","pushed_at":"2014-12-13T23:36:44Z","git_url":"git://github.com/ChrisCPO/ChrisCPO.github.io.git","ssh_url":"git@github.com:ChrisCPO/ChrisCPO.github.io.git","clone_url":"https://github.com/ChrisCPO/ChrisCPO.github.io.git","svn_url":"https://github.com/ChrisCPO/ChrisCPO.github.io","homepage":null,"size":15104,"stargazers_count":0,"watchers_count":0,"language":"CSS","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":29310132,"name":"comparer","full_name":"ChrisCPO/comparer","owner":{"login":"ChrisCPO","id":7773951,"avatar_url":"https://avatars.githubusercontent.com/u/7773951?v=3","gravatar_id":"","url":"https://api.github.com/users/ChrisCPO","html_url":"https://github.com/ChrisCPO","followers_url":"https://api.github.com/users/ChrisCPO/followers","following_url":"https://api.github.com/users/ChrisCPO/following{/other_user}","gists_url":"https://api.github.com/users/ChrisCPO/gists{/gist_id}",[...]
