---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/carlosramireziii/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1421721800'
      Etag:
      - W/"3370a2eca9fc0dd98d7a3c5cb67b803c"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"id":4788599,"name":"basecamper","full_name":"carlosramireziii/basecamper","owner":{"login":"carlosramireziii","id":362585,"avatar_url":"https://avatars.githubusercontent.com/u/362585?v=3","gravatar_id":"","url":"https://api.github.com/users/carlosramireziii","html_url":"https://github.com/carlosramireziii","followers_url":"https://api.github.com/users/carlosramireziii/followers","following_url":"https://api.github.com/users/carlosramireziii/following{/other_user}","gists_url":"https://api.github.com/users/carlosramireziii/gists{/gist_id}","starred_url":"https://api.github.com/users/carlosramireziii/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/carlosramireziii/subscriptions","organizations_url":"https://api.github.com/users/carlosramireziii/orgs","repos_url":"https://api.github.com/users/carlosramireziii/repos","events_url":"https://api.github.com/users/carlosramireziii/events{/privacy}","received_events_url":"https://api.github.com/users/carlosramireziii/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/carlosramireziii/basecamper","description":"37
        Signals Basecamp API Wrapper","fork":true,"url":"https://api.github.com/repos/carlosramireziii/basecamper","forks_url":"https://api.github.com/repos/carlosramireziii/basecamper/forks","keys_url":"https://api.github.com/repos/carlosramireziii/basecamper/keys{/key_id}","collaborators_url":"https://api.github.com/repos/carlosramireziii/basecamper/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/carlosramireziii/basecamper/teams","hooks_url":"https://api.github.com/repos/carlosramireziii/basecamper/hooks","issue_events_url":"https://api.github.com/repos/carlosramireziii/basecamper/issues/events{/number}","events_url":"https://api.github.com/repos/carlosramireziii/basecamper/events","assignees_url":"https://api.github.com/repos/carlosramireziii/basecamper/assignees{/user}","branches_url":"https://api.github.com/repos/carlosramireziii/basecamper/branches{/branch}","tags_url":"https://api.github.com/repos/carlosramireziii/basecamper/tags","blobs_url":"https://api.github.com/repos/carlosramireziii/basecamper/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/carlosramireziii/basecamper/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/carlosramireziii/basecamper/git/refs{/sha}","trees_url":"https://api.github.com/repos/carlosramireziii/basecamper/git/trees{/sha}","statuses_url":"https://api.github.com/repos/carlosramireziii/basecamper/statuses/{sha}","languages_url":"https://api.github.com/repos/carlosramireziii/basecamper/languages","stargazers_url":"https://api.github.com/repos/carlosramireziii/basecamper/stargazers","contributors_url":"https://api.github.com/repos/carlosramireziii/basecamper/contributors","subscribers_url":"https://api.github.com/repos/carlosramireziii/basecamper/subscribers","subscription_url":"https://api.github.com/repos/carlosramireziii/basecamper/subscription","commits_url":"https://api.github.com/repos/carlosramireziii/basecamper/commits{/sha}","git_commits_url":"https://api.github.com/repos/carlosramireziii/basecamper/git/commits{/sha}","comments_url":"https://api.github.com/repos/carlosramireziii/basecamper/comments{/number}","issue_comment_url":"https://api.github.com/repos/carlosramireziii/basecamper/issues/comments/{number}","contents_url":"https://api.github.com/repos/carlosramireziii/basecamper/contents/{+path}","compare_url":"https://api.github.com/repos/carlosramireziii/basecamper/compare/{base}...{head}","merges_url":"https://api.github.com/repos/carlosramireziii/basecamper/merges","archive_url":"https://api.github.com/repos/carlosramireziii/basecamper/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/carlosramireziii/basecamper/downloads","issues_url":"https://api.github.com/repos/carlosramireziii/basecamper/issues{/number}","pulls_url":"https://api.github.com/repos/carlosramireziii/basecamper/pulls{/number}","milestones_url":"https://api.github.com/repos/carlosramireziii/basecamper/milestones{/number}","notifications_url":"https://api.github.com/repos/carlosramireziii/basecamper/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/carlosramireziii/basecamper/labels{/name}","releases_url":"https://api.github.com/repos/carlosramireziii/basecamper/releases{/id}","created_at":"2012-06-25T23:02:48Z","updated_at":"2013-11-21T23:18:57Z","pushed_at":"2012-07-02T20:12:15Z","git_url":"git://github.com/carlosramireziii/basecamper.git","ssh_url":"git@github.com:carlosramireziii/basecamper.git","clone_url":"https://github.com/carlosramireziii/basecamper.git","svn_url":"https://github.com/carlosramireziii/basecamper","homepage":"http://rubygems.org/gems/basecamper","size":118,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master"},{"id":13124439,"name":"bootstrap-select-rails","full_name":"carlosramireziii/bootstrap-select-rails","owner":{"login":"carlosramireziii","id":362585,"avatar_url":"https://avatars.githubusercontent.com/u/362585?v=3","gravatar_id":"","url":"https://api.github.com/users/carlosramireziii","html_url":"https://github.com/carlosramireziii","followers_url":"https://api.github.com/users/carlosramireziii/followers","following_url":"https://api.github.com/users/carlosramireziii/following{/other_u[...]
