---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/tabfugnic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1421622991'
      Last-Modified:
      - Fri, 16 Jan 2015 20:38:10 GMT
      Etag:
      - W/"960e56f5c343e31963be9556426bbbfd"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"tabfugnic","id":755201,"avatar_url":"https://avatars.githubusercontent.com/u/755201?v=3","gravatar_id":"","url":"https://api.github.com/users/tabfugnic","html_url":"https://github.com/tabfugnic","followers_url":"https://api.github.com/users/tabfugnic/followers","following_url":"https://api.github.com/users/tabfugnic/following{/other_user}","gists_url":"https://api.github.com/users/tabfugnic/gists{/gist_id}","starred_url":"https://api.github.com/users/tabfugnic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tabfugnic/subscriptions","organizations_url":"https://api.github.com/users/tabfugnic/orgs","repos_url":"https://api.github.com/users/tabfugnic/repos","events_url":"https://api.github.com/users/tabfugnic/events{/privacy}","received_events_url":"https://api.github.com/users/tabfugnic/received_events","type":"User","site_admin":false,"name":"Eric
        Collins","company":"thoughtbot","blog":"tabfugnic.wordpress.com","location":"New
        York","email":"","hireable":false,"bio":null,"public_repos":39,"public_gists":10,"followers":18,"following":10,"created_at":"2011-04-27T17:39:23Z","updated_at":"2015-01-16T20:38:10Z"}'
  recorded_at: Sun, 18 Jan 2015 22:16:30 GMT
recorded_with: VCR 2.9.3
