---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/carlosramireziii
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1421721800'
      Last-Modified:
      - Sat, 17 Jan 2015 16:52:47 GMT
      Etag:
      - W/"ff99fd7c4a7f50878eb2af739b461215"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"carlosramireziii","id":362585,"avatar_url":"https://avatars.githubusercontent.com/u/362585?v=3","gravatar_id":"","url":"https://api.github.com/users/carlosramireziii","html_url":"https://github.com/carlosramireziii","followers_url":"https://api.github.com/users/carlosramireziii/followers","following_url":"https://api.github.com/users/carlosramireziii/following{/other_user}","gists_url":"https://api.github.com/users/carlosramireziii/gists{/gist_id}","starred_url":"https://api.github.com/users/carlosramireziii/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/carlosramireziii/subscriptions","organizations_url":"https://api.github.com/users/carlosramireziii/orgs","repos_url":"https://api.github.com/users/carlosramireziii/repos","events_url":"https://api.github.com/users/carlosramireziii/events{/privacy}","received_events_url":"https://api.github.com/users/carlosramireziii/received_events","type":"User","site_admin":false,"name":"Carlos
        Ramirez III","company":"","blog":"http://ryanandcarlos.com/github","location":"New
        York, NY","email":"","hireable":false,"bio":null,"public_repos":21,"public_gists":3,"followers":6,"following":0,"created_at":"2010-08-12T19:05:18Z","updated_at":"2015-01-17T16:52:47Z"}'
  recorded_at: Tue, 20 Jan 2015 01:43:20 GMT
recorded_with: VCR 2.9.3
