---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/a2k11/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1421627314'
      Etag:
      - W/"68966652dbe7c89ff24335be923e653d"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"id":26339834,"name":"A2KS","full_name":"a2k11/A2KS","owner":{"login":"a2k11","id":5412858,"avatar_url":"https://avatars.githubusercontent.com/u/5412858?v=3","gravatar_id":"","url":"https://api.github.com/users/a2k11","html_url":"https://github.com/a2k11","followers_url":"https://api.github.com/users/a2k11/followers","following_url":"https://api.github.com/users/a2k11/following{/other_user}","gists_url":"https://api.github.com/users/a2k11/gists{/gist_id}","starred_url":"https://api.github.com/users/a2k11/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/a2k11/subscriptions","organizations_url":"https://api.github.com/users/a2k11/orgs","repos_url":"https://api.github.com/users/a2k11/repos","events_url":"https://api.github.com/users/a2k11/events{/privacy}","received_events_url":"https://api.github.com/users/a2k11/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/a2k11/A2KS","description":"A
        2-Second Klip Share","fork":false,"url":"https://api.github.com/repos/a2k11/A2KS","forks_url":"https://api.github.com/repos/a2k11/A2KS/forks","keys_url":"https://api.github.com/repos/a2k11/A2KS/keys{/key_id}","collaborators_url":"https://api.github.com/repos/a2k11/A2KS/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/a2k11/A2KS/teams","hooks_url":"https://api.github.com/repos/a2k11/A2KS/hooks","issue_events_url":"https://api.github.com/repos/a2k11/A2KS/issues/events{/number}","events_url":"https://api.github.com/repos/a2k11/A2KS/events","assignees_url":"https://api.github.com/repos/a2k11/A2KS/assignees{/user}","branches_url":"https://api.github.com/repos/a2k11/A2KS/branches{/branch}","tags_url":"https://api.github.com/repos/a2k11/A2KS/tags","blobs_url":"https://api.github.com/repos/a2k11/A2KS/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/a2k11/A2KS/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/a2k11/A2KS/git/refs{/sha}","trees_url":"https://api.github.com/repos/a2k11/A2KS/git/trees{/sha}","statuses_url":"https://api.github.com/repos/a2k11/A2KS/statuses/{sha}","languages_url":"https://api.github.com/repos/a2k11/A2KS/languages","stargazers_url":"https://api.github.com/repos/a2k11/A2KS/stargazers","contributors_url":"https://api.github.com/repos/a2k11/A2KS/contributors","subscribers_url":"https://api.github.com/repos/a2k11/A2KS/subscribers","subscription_url":"https://api.github.com/repos/a2k11/A2KS/subscription","commits_url":"https://api.github.com/repos/a2k11/A2KS/commits{/sha}","git_commits_url":"https://api.github.com/repos/a2k11/A2KS/git/commits{/sha}","comments_url":"https://api.github.com/repos/a2k11/A2KS/comments{/number}","issue_comment_url":"https://api.github.com/repos/a2k11/A2KS/issues/comments/{number}","contents_url":"https://api.github.com/repos/a2k11/A2KS/contents/{+path}","compare_url":"https://api.github.com/repos/a2k11/A2KS/compare/{base}...{head}","merges_url":"https://api.github.com/repos/a2k11/A2KS/merges","archive_url":"https://api.github.com/repos/a2k11/A2KS/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/a2k11/A2KS/downloads","issues_url":"https://api.github.com/repos/a2k11/A2KS/issues{/number}","pulls_url":"https://api.github.com/repos/a2k11/A2KS/pulls{/number}","milestones_url":"https://api.github.com/repos/a2k11/A2KS/milestones{/number}","notifications_url":"https://api.github.com/repos/a2k11/A2KS/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/a2k11/A2KS/labels{/name}","releases_url":"https://api.github.com/repos/a2k11/A2KS/releases{/id}","created_at":"2014-11-07T21:59:44Z","updated_at":"2015-01-09T16:04:08Z","pushed_at":"2015-01-09T16:04:08Z","git_url":"git://github.com/a2k11/A2KS.git","ssh_url":"git@github.com:a2k11/A2KS.git","clone_url":"https://github.com/a2k11/A2KS.git","svn_url":"https://github.com/a2k11/A2KS","homepage":"","size":674,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":0,"forks":1,"open_issues":0,"watchers":1,"default_branch":"master"},{"id":27802269,"name":"Hotel","full_name":"a2k11/Hotel","owner":{"login":"a2k11","id":5412858,"avatar_url":"https://avatars.githubusercontent.com/u/5412858?v=3","gravatar_id":"","url":"https://api.github.com/users/a2k11","html_url":"https://github.com/a2k11","followers_url":"https://api.github.com/users/a2k11/followers","following_url":"https://api.github.com/users/a2k11/following{/other_user}","gists_url":"https://api.github.com/users/a2k11/gists{/gist_id}","starred_url":"https://api.[...]
