---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/elijahkim
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1421721800'
      Last-Modified:
      - Mon, 19 Jan 2015 18:57:01 GMT
      Etag:
      - W/"ed2374fbe43fa63fc4e5bcd96114dfd1"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"elijahkim","id":8673900,"avatar_url":"https://avatars.githubusercontent.com/u/8673900?v=3","gravatar_id":"","url":"https://api.github.com/users/elijahkim","html_url":"https://github.com/elijahkim","followers_url":"https://api.github.com/users/elijahkim/followers","following_url":"https://api.github.com/users/elijahkim/following{/other_user}","gists_url":"https://api.github.com/users/elijahkim/gists{/gist_id}","starred_url":"https://api.github.com/users/elijahkim/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/elijahkim/subscriptions","organizations_url":"https://api.github.com/users/elijahkim/orgs","repos_url":"https://api.github.com/users/elijahkim/repos","events_url":"https://api.github.com/users/elijahkim/events{/privacy}","received_events_url":"https://api.github.com/users/elijahkim/received_events","type":"User","site_admin":false,"name":"Elijah
        Kim","company":"","blog":"http://www.elijah.kim","location":"United States","email":"kimelijah90@gmail.com","hireable":true,"bio":null,"public_repos":12,"public_gists":3,"followers":4,"following":4,"created_at":"2014-09-05T23:34:39Z","updated_at":"2015-01-19T18:57:01Z"}'
  recorded_at: Tue, 20 Jan 2015 01:51:32 GMT
recorded_with: VCR 2.9.3
