---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/elijahkim/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1421721800'
      Etag:
      - W/"4ea049bfac931650a31eff53d69ae0f9"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"id":28046026,"name":"blog","full_name":"elijahkim/blog","owner":{"login":"elijahkim","id":8673900,"avatar_url":"https://avatars.githubusercontent.com/u/8673900?v=3","gravatar_id":"","url":"https://api.github.com/users/elijahkim","html_url":"https://github.com/elijahkim","followers_url":"https://api.github.com/users/elijahkim/followers","following_url":"https://api.github.com/users/elijahkim/following{/other_user}","gists_url":"https://api.github.com/users/elijahkim/gists{/gist_id}","starred_url":"https://api.github.com/users/elijahkim/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/elijahkim/subscriptions","organizations_url":"https://api.github.com/users/elijahkim/orgs","repos_url":"https://api.github.com/users/elijahkim/repos","events_url":"https://api.github.com/users/elijahkim/events{/privacy}","received_events_url":"https://api.github.com/users/elijahkim/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/elijahkim/blog","description":"my
        blog","fork":false,"url":"https://api.github.com/repos/elijahkim/blog","forks_url":"https://api.github.com/repos/elijahkim/blog/forks","keys_url":"https://api.github.com/repos/elijahkim/blog/keys{/key_id}","collaborators_url":"https://api.github.com/repos/elijahkim/blog/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/elijahkim/blog/teams","hooks_url":"https://api.github.com/repos/elijahkim/blog/hooks","issue_events_url":"https://api.github.com/repos/elijahkim/blog/issues/events{/number}","events_url":"https://api.github.com/repos/elijahkim/blog/events","assignees_url":"https://api.github.com/repos/elijahkim/blog/assignees{/user}","branches_url":"https://api.github.com/repos/elijahkim/blog/branches{/branch}","tags_url":"https://api.github.com/repos/elijahkim/blog/tags","blobs_url":"https://api.github.com/repos/elijahkim/blog/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/elijahkim/blog/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/elijahkim/blog/git/refs{/sha}","trees_url":"https://api.github.com/repos/elijahkim/blog/git/trees{/sha}","statuses_url":"https://api.github.com/repos/elijahkim/blog/statuses/{sha}","languages_url":"https://api.github.com/repos/elijahkim/blog/languages","stargazers_url":"https://api.github.com/repos/elijahkim/blog/stargazers","contributors_url":"https://api.github.com/repos/elijahkim/blog/contributors","subscribers_url":"https://api.github.com/repos/elijahkim/blog/subscribers","subscription_url":"https://api.github.com/repos/elijahkim/blog/subscription","commits_url":"https://api.github.com/repos/elijahkim/blog/commits{/sha}","git_commits_url":"https://api.github.com/repos/elijahkim/blog/git/commits{/sha}","comments_url":"https://api.github.com/repos/elijahkim/blog/comments{/number}","issue_comment_url":"https://api.github.com/repos/elijahkim/blog/issues/comments/{number}","contents_url":"https://api.github.com/repos/elijahkim/blog/contents/{+path}","compare_url":"https://api.github.com/repos/elijahkim/blog/compare/{base}...{head}","merges_url":"https://api.github.com/repos/elijahkim/blog/merges","archive_url":"https://api.github.com/repos/elijahkim/blog/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/elijahkim/blog/downloads","issues_url":"https://api.github.com/repos/elijahkim/blog/issues{/number}","pulls_url":"https://api.github.com/repos/elijahkim/blog/pulls{/number}","milestones_url":"https://api.github.com/repos/elijahkim/blog/milestones{/number}","notifications_url":"https://api.github.com/repos/elijahkim/blog/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/elijahkim/blog/labels{/name}","releases_url":"https://api.github.com/repos/elijahkim/blog/releases{/id}","created_at":"2014-12-15T16:46:41Z","updated_at":"2014-12-22T19:43:13Z","pushed_at":"2014-12-22T19:43:12Z","git_url":"git://github.com/elijahkim/blog.git","ssh_url":"git@github.com:elijahkim/blog.git","clone_url":"https://github.com/elijahkim/blog.git","svn_url":"https://github.com/elijahkim/blog","homepage":null,"size":192,"stargazers_count":0,"watchers_count":0,"language":"CSS","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"gh-pages"},{"id":26442367,"name":"craigstr","full_name":"elijahkim/craigstr","owner":{"login":"elijahkim","id":8673900,"avatar_url":"https://avatars.githubusercontent.com/u/8673900?v=3","gravatar_id":"","url":"https://api.github.com/users/elijahkim","html_url":"https://github.com/elijahkim","followers_url":"https://api.github.com/users/elijahkim/followers","following_url":"https://api.github.com/users/elijahkim/following{/other_user}","gists_url":"https://api.github.com/users/elijahkim/gists{/g[...]
