---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/chriscpo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1421612880'
      Last-Modified:
      - Sun, 18 Jan 2015 19:10:52 GMT
      Etag:
      - W/"18eb18523c8d4e87d74672d3d0343274"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"ChrisCPO","id":7773951,"avatar_url":"https://avatars.githubusercontent.com/u/7773951?v=3","gravatar_id":"","url":"https://api.github.com/users/ChrisCPO","html_url":"https://github.com/ChrisCPO","followers_url":"https://api.github.com/users/ChrisCPO/followers","following_url":"https://api.github.com/users/ChrisCPO/following{/other_user}","gists_url":"https://api.github.com/users/ChrisCPO/gists{/gist_id}","starred_url":"https://api.github.com/users/ChrisCPO/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ChrisCPO/subscriptions","organizations_url":"https://api.github.com/users/ChrisCPO/orgs","repos_url":"https://api.github.com/users/ChrisCPO/repos","events_url":"https://api.github.com/users/ChrisCPO/events{/privacy}","received_events_url":"https://api.github.com/users/ChrisCPO/received_events","type":"User","site_admin":false,"name":"Chris
        O''Donnell","company":"","blog":"http://chriscpo.github.io/","location":"New
        York City","email":"ChrisCPO@gmail.com","hireable":true,"bio":null,"public_repos":13,"public_gists":2,"followers":2,"following":5,"created_at":"2014-06-02T22:01:23Z","updated_at":"2015-01-18T19:10:52Z"}'
  recorded_at: Sun, 18 Jan 2015 19:28:00 GMT
recorded_with: VCR 2.9.3
